<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="6" parallel="tests">
<!--<listeners>
        <listener class-name="utilities.TestNGListener"></listener>
    </listeners>-->
    <test verbose="2" preserve-order="true" name="ChromeTest">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <!--<class name="tests.SearchTest"></class>-->
            <class name="tests.OrangeHRMLoginTest"></class>
        </classes>
   </test>
<test verbose="2" preserve-order="true" name="FirefoxTest">
          <parameter name="browser" value="firefox"></parameter>
          <classes>
              <class name="tests.OrangeHRMLoginTest"></class>
          </classes>
      </test>
</suite>